<div class="maindiv">

  <div>

    <button type="submit" [disabled]="selectedPage == 0" (click)="goToFirstPage()">Erste Seite</button>
    <button type="submit" [disabled]="selectedPage == 0" (click)="goToPreviousPage()">Zurück</button>
    <span>
      <span *ngFor="let p of pages">
        <button type="submit" [disabled]="p == selectedPage" (click)="goToPage(p)">{{p+1}}</button>
      </span>
    </span>

    <button [disabled]="selectedPage >= numberOfPages - 1" (click)="goToNextPage()">Vorwärts</button>
    <button [disabled]="selectedPage >= numberOfPages - 1" (click)="goToLastPage()">Letzte Seite</button>
  </div>
  <div>
    Zeige {{parameters.from + 1}} bis {{parameters.to}} (Insgesamt: {{parameters.total_count}})
  </div>
</div>