<div class="container-fluid custom-modal-container greybackground">
  <div class="row custom-modal-header" style="padding:15px;">

    <div class="col-sm-2" style="display: flex;align-items: center;justify-content: center;z-index:10;">
    </div>

    <div class="col-sm-2" (click)="close()">
      <button type="button" class="btn btn-danger btn-lg">
        Schließen<span style="padding-left: 5px;" class="glyphicon glyphicon-remove"> </span>
      </button>
    </div>
  </div>
  <div class="row" class="myclass" style="margin: 10px;">
    <div class="col-xs-12">
      <div>
        <div class="qmContainer">
          <h2>Download via QR Code</h2>
          <h4>nur 2 Minuten gültig!</h4>
          <pre><a style="font-size: small;" *ngIf="this.backend.billQrCode != null"
            href="{{this.backend.billQrCode}}">{{this.backend.billQrCode}}</a></pre>
          <div id="qrCodePlaceHolder" style="width: 400px;height:400px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row custom-modal-footer" style="margin-bottom: 10px;">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">

    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>