<div class="container-fluid custom-modal-container">
  <div class="row custom-modal-header">
    <div class="col-sm-12">
      <h1>Quickmenu for {{context.user.username}}</h1>
    </div>
  </div>
  <div class="row" [ngClass]="{'myclass' : shouldUseMyClass}">
    <div class="col-xs-12">
      <div class="jumbotron">
        <ul>
          <li *ngFor="let item of backend.content.selected_users_top_items" (click)="onClickedItem(item, $event)">
            {{item.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row custom-modal-footer">
    <div class="col-sm-12">
      <button (click)="showStatistics()">Statistics</button>
      <button (click)="showGiveoutDialog()">Giveouts</button>
      <button (click)="showDetail()">More...</button>
      <button (click)="close()">Close</button>
    </div>
  </div>
</div>