li {
	flex: 1 0 18%;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
    height: 60px;
    line-height: 40px;
    font-weight: bold;
}

li:nth-child(odd) {
    background: skyblue;
}

li:nth-child(even) {
    background: white;
}

ul {
	display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.selectedItem {
    border: 2px solid gold;
}