
<form class="navbar-form" role="search">
<input class="form-control" style="margin:0px;padding:20px;width:80%;text-align: center;margin-left: auto;margin-right: auto;" placeholder="Search for user by name (case insensitive)" [formControl]="searchControl">
</form>


<ul>
  <li *ngFor="let user of backend.content.computed_users_in_list" (click)="pressedUser($event, user)" [ngClass]="{'highlighted-user' : user.highlight_in_ui}">
    {{user.username}}
  </li>
</ul>


<div>
  <label>Last Purchase:</label>
  <div *ngIf="backend.content.LastPurchases.total_count > 0">
      #{{backend.content.LastPurchases.results[0].SimplePurchase.unique_id}} on date {{backend.content.LastPurchases.results[0].SimplePurchase.timestamp_epoch_millis | date:'short'}} : {{backend.content.LastPurchases.results[0].SimplePurchase.consumer.username}} bought {{backend.content.LastPurchases.results[0].SimplePurchase.item.name}}
  </div>
</div>

<button (click)="tabs.goToAdministration()">
  Administration
</button>

<button (click)="tabs.goToLog()">
  Log
</button>
