<div class="grid-container">
  <div class="grid-item">

    <button (click)="tabs.goToAdministration()" class="btn btn-default" style="position:fixed; top:15px; left: 40px">
      Administration
    </button>
  </div>
  <div class="grid-item" style="grid-column-start: 2;grid-column-end: 7;">

    <form class="navbar-form" role="search">
      <input class="form-control" style="margin:0px;padding:20px;width:80%;text-align: center;margin-left: auto;margin-right: auto;"
        id="allUsersSearchBar" placeholder="Suche nach Nutzername (ohne Groß-/Kleinschreibung)" [formControl]="searchControl">
    </form>

  </div>
  <div class="grid-item" style="grid-column-start: 7;">
    <div class="clockdiv">
      <div class="timediv">
        {{ currentTime | date:'mediumTime'}}
      </div>
      <div class="datediv">
        {{ currentTime | date:'mediumDate'}}
      </div>
    </div>

  </div>
</div>






<div style="margin: 0px;">
    <app-ffa-list></app-ffa-list>
</div>

<div class="userSelectionContainer">
  <div *ngFor="let user of backend.content.computed_users_in_list; let i = index" (click)="pressedUser($event, user)" [attr.id]="'AllUsersUserSelectionBtn_' + i"
    [ngClass]="{'highlighted-user' : user.highlight_in_ui, 'userSelectionItem' : true, 'largerSelectionItem': backend.content.OpenFFAFreebies.total_count == 0}">
    {{user.username}}
  </div>
</div>


<div style="position: fixed;bottom:15px;width:100%;height: 30px;">

  <div class="grid-container" >
    <div class="grid-item"  style="grid-column-start: 1;grid-column-end: 2;">


      <button (click)="tabs.goToLog()" class="btn btn-info" >
        Log aller Einkäufe
      </button>

    </div>
    <div class="grid-item" style="grid-column-start: 2;grid-column-end: 7; line-height:30px;">



      <div>
        <div *ngIf="backend.content.LastPurchases.total_count > 0 && backend.content.LastPurchases.results[0].SimplePurchase != null">
          #{{backend.content.LastPurchases.results[0].SimplePurchase.unique_id}} - {{backend.content.LastPurchases.results[0].SimplePurchase.timestamp_epoch_millis
          | date:'short'}} : {{backend.content.LastPurchases.results[0].SimplePurchase.consumer.username}} kaufte {{backend.content.LastPurchases.results[0].SimplePurchase.item.name}}
        </div>
        <div *ngIf="backend.content.LastPurchases.total_count > 0 && backend.content.LastPurchases.results[0].SpecialPurchase != null">
          #{{backend.content.LastPurchases.results[0].SpecialPurchase.unique_id}} - {{backend.content.LastPurchases.results[0].SpecialPurchase.timestamp_epoch_millis
          | date:'short'}} : {{backend.content.LastPurchases.results[0].SpecialPurchase.consumer.username}} kaufte {{backend.content.LastPurchases.results[0].SpecialPurchase.special_name}}
        </div>
        <div *ngIf="backend.content.LastPurchases.total_count > 0 && backend.content.LastPurchases.results[0].FFAPurchase != null">
          #{{backend.content.LastPurchases.results[0].FFAPurchase.unique_id}} - {{backend.content.LastPurchases.results[0].FFAPurchase.timestamp_epoch_millis
          | date:'short'}} : Jemand kaufte {{backend.content.LastPurchases.results[0].FFAPurchase.item.name}} (FFA Ausgabe, gespendet von {{backend.content.LastPurchases.results[0].FFAPurchase.donor.username}})
        </div>
      </div>

    </div>
  </div>
</div>

<div class="poweredby" style="grid-column-start: 7;grid-column-end: 9; line-height:9px;">
  Cervisia is FOSS: https://github.com/n3phtys/ng-cervisia
</div>