.userSelectionItem {
	flex: 1 0 13%;
  box-sizing: border-box;
  color: #171e42;
  word-wrap: break-word;
  margin: 6px;
  font-weight: bold;
  text-align: center;
  line-height: 75px;
    height: 75px;
}
.largerSelectionItem {
  line-height: 80px;
  height: 80px;
}

.userSelectionItem:nth-child(odd) {
    background: skyblue;
}

.userSelectionItem:nth-child(even) {
    background: white;
}

button {
    white-space: wrap;
}

.clockdiv {
    float: right;
    margin-right: 20px; 
    width: 128px;
    height: 40px;
    font-size: 18pt;
}

.timediv {
    font-size: 24pt;
    font-weight: bold;
}

.datediv {
    font-size: 12pt;
}



.userSelectionContainer {
    margin-top: 5px;
    margin-bottom: 5px;
	display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.highlighted-user {
    border: gold;
    border-style: solid;
    border-width: 3px;
}
