li {
	flex: 1 0 18%;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
    height: 60px;
    font-size: 12pt;
    font-weight: bold;
    line-height: 40px;
    word-wrap: break-word;
    white-space: normal;
}

li:nth-child(odd) {
    background: skyblue;
}

li:nth-child(even) {
    background: white;
}

ul {
	display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.shoppingCartBtn {
    width: calc(100% - 10px);
    word-wrap: break-word;
    white-space: normal;
    margin: 5px;
}

.nowrap {
    word-wrap: break-word;
    white-space: normal;
    margin: 0px;
    padding: 0px;
    text-align: center;
}