<div class="grid-container">
  <div class="grid-item">

    <button (click)="tabs.goToUserSelection()" class="btn btn-default" style="position:relative; top:20%;">
      <span class="glyphicon glyphicon-chevron-left">
      </span> Zurück zu Übersicht
    </button>
  </div>
  <div class="grid-item" style="grid-column-start: 2;grid-column-end: 7;">
    <div class="tabHeaderTitle">
      Getränke abstreichen
    </div>
  </div>
  <div class="grid-item" style="grid-column-start: 7;">
    <div class="tabHeaderUsername">
      {{this.backend.detailUsername}}
    </div>

  </div>
</div>








<div>
  <div  class="col-sm-9">
    
<div>
    <form class="navbar-form" role="search">
        <input class="form-control" style="margin:20px;padding:20px;" placeholder="Suche nach Getränk" [formControl]="searchControl">
      </form>
    </div>
  <div *ngFor="let category of backend.content.all_items_per_category">
    <label>Kategorie: {{category.name}}</label>
    <ul>
      <li *ngFor="let item of category.arr" (click)="onClickedItem(item, $event)">
        <span>{{item.name}}</span>
        <span>{{item.cost_cents / 100  | currency:'EUR'}}</span>
      </li>
    </ul>
  </div>

  <div style="margin-top: 15px;">
    <button class="btn btn-lg" (click)="onSpecialClicked()">
        <span class="glyphicon glyphicon-plus" style="margin-right:5px;"></span> Etwas, das nicht auf der Liste steht
    </button>
  </div>

  </div>
  <div  class="col-sm-3">
    
    <div>
        <table class="table table-striped" *ngFor="let detailinfo of backend.content.DetailInfoForUser.results">
            <!--thead>
              <tr>
                <th>Punkt</th>
                <th>Wert</th>
              </tr>
            </thead-->
            <tbody>
              <tr>
                <td>Aktuelle Periode</td>
                <td>{{detailinfo.currently_cost / 100  | currency:'EUR'}}</td>
              </tr>
              <tr>
                <td>Letzte Abrechnung</td>
                <td>{{detailinfo.last_bill_cost / 100  | currency:'EUR'}}</td>
              </tr>
              <tr>
                <td>Abrechnungsdatum</td>
                <td>{{detailinfo.last_bill_date  | date: "dd.MM.yy" }}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div>
      
        <div style="border: 1px solid black;">
            <label style="font-size: 16pt">Warenkorb:</label>
            <div *ngFor="let item of shoppingCart; let idx = index" class="btn btn-info shoppingCartBtn" (click)="onShoppingCarElementPressed(item, idx, $event)">
              
  <div  class="col-xs-1 nowrap">
      {{item.count}}
  </div>
  
  <div  class="col-xs-6 nowrap">
      {{item.item.name}}
  </div>
  <div  class="col-xs-5 nowrap">
      á {{item.item.cost_cents / 100 | currency:'EUR'}}
    </div>
               
            </div>
          </div>



    </div>
    <div class="btn btn-success checkoutButton" *ngIf="shoppingCart.length > 0" (click)="onOkayPressed($event)">
      Abstreichen 
    </div>
  </div>
</div>

