<p>
  full-purchase works!
</p>



<form class="navbar-form" role="search">
  <input class="form-control" style="margin:20px;padding:20px;" placeholder="Search for item" [formControl]="searchControl">
</form>


<div>
  <div *ngFor="let category of backend.content.all_items_per_category">
    <label>Category: {{category.name}}</label>
    <ul>
      <li *ngFor="let item of category.arr" (click)="onClickedItem(item, $event)">
        {{item.name}}
      </li>
    </ul>
  </div>

  <div>
    <button (click)="onSpecialClicked()">
      Something else
    </button>
  </div>
</div>


<div>
  <label>Shopping Cart:</label>
  <div *ngFor="let item of shoppingCart">
    {{item.count}} * {{item.item.name}} á {{item.item.cost_cents / 100 | currency}}
  </div>
  <button *ngIf="shoppingCart.length > 0" (click)="onOkayPressed($event)">Checkout purchases</button>
</div>




<div *ngFor="let detailinfo of backend.DetailInfoForUser">
  current cost = {{detailinfo.currently_cost}}
  <br> lastbill cost = {{detailinfo.last_bill_cost}}
  <br> lastbill date = {{detailinfo.last_bill_date}}
  <br>
</div>



<button (click)="tabs.goToUserSelection()">
  Back to all users
</button>