<div class="grid-container">
  <div class="grid-item">

    <button (click)="tabs.goToUserSelection()" class="btn btn-default" style="position:relative; top:20%;">
      <span class="glyphicon glyphicon-chevron-left">
      </span> Zurück zu Übersicht
    </button>
  </div>
  <div class="grid-item" style="grid-column-start: 2;grid-column-end: 7;">
    <div class="tabHeaderTitle">
      Persönliche Statistiken
    </div>
  </div>
  <div class="grid-item" style="grid-column-start: 7;">
    <div class="tabHeaderUsername">
      {{this.backend.detailUsername}}
    </div>

  </div>
</div>



<div class="clearfix">
  <div class="col-xs-6">
    <label>Persönliche Einkäufe seit letzter Abrechnung</label>

    <app-timespan-filter [timespan]="backend.viewstate.personal_log.count_pars"
      (onTimespanFilterChange)="timeFilterChange($event)"></app-timespan-filter>



    <div *ngFor="let purchase of backend.content.PurchaseLogPersonal.results" class="purchaseLogLine">
      <div *ngIf="purchase.SimplePurchase != null">
        #{{purchase.SimplePurchase.unique_id}} on {{purchase.SimplePurchase.timestamp_epoch_millis | date:'short'}} :
        {{purchase.SimplePurchase.item.name}}
      </div>
      <div *ngIf="purchase.SpecialPurchase != null">
        #{{purchase.SpecialPurchase.unique_id}} on {{purchase.SpecialPurchase.timestamp_epoch_millis | date:'short'}} :
        {{purchase.SpecialPurchase.special_name}}
      </div>
      <div *ngIf="purchase.FFAPurchase != null">
        #{{purchase.FFAPurchase.unique_id}} on {{purchase.FFAPurchase.timestamp_epoch_millis | date:'short'}} :
        FFA-Ausgabe = {{purchase.FFAPurchase.item.name}}
      </div>

    </div>

    <app-paginator [parameters]="backend.content.PurchaseLogPersonal" [pageSizeOverride]="pageSizePersonalLog"
      (onPageChange)="pageNavigationForPersonalLog($event)"></app-paginator>


  </div>
  <div class="col-xs-6">
    <label>Eingehende (offene) Spenden</label>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Datum</th>
          <th>Spender</th>
          <th>Insgesamt</th>
          <th>Übrig</th>
          <th>Nachricht</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of backend.content.IncomingFreebies.results">
          <td>{{f.id}}</td>
          <td>{{f.created_timestamp | date:'medium'}}</td>
          <td>{{f.donor.username}}</td>
          <td *ngIf="f.total < 1">{{f.cents_worth_total / 100 | currency:'EUR'}}</td>
          <td *ngIf="f.total < 1">{{f.cents_worth_left / 100 | currency:'EUR'}}</td>
          <td *ngIf="f.total >= 1">{{f.total}}</td>
          <td *ngIf="f.total >= 1">{{f.left}}</td>
          <td>{{f.text_message}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="clearfix">
  <div class="col-xs-6">
    <label>Vergangene Abrechnungen</label>
    <div>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th style="min-width: 60px;">Von</th>
            <th style="min-width: 60px;">Bis</th>
            <th style="min-width: 80px;">Kommentar des Kantinier</th>
            <th style="width:30px;"> Download </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of backend.content.Bills.results">
            <td>{{ bill.timestamp_from | date }}</td>
            <td>{{ bill.timestamp_to | date }}</td>
            <td>{{ bill.comment }}</td>
            <td *ngIf="bill.bill_state !== 'Created'">
              <div>
                <!--a (click)="exportBill(bill)" class="btn btn-small btn-primary">Export per Email</a-->
                <a (click)="openBillQrCode(bill)" class="btn btn-small btn-success">QR Code</a>
              </div>
            </td>
            <td *ngIf="bill.bill_state === 'Created'">
              Nicht finalisiert
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <app-paginator [parameters]="backend.content.Bills" [pageSizeOverride]="pageSizePersonalBill"
        (onPageChange)="pageNavigationBills($event)"></app-paginator>
    </div>



  </div>
  <div class="col-xs-6">

    <label>Ausgehende (offene) Spenden</label>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Datum</th>
          <th>Empfänger</th>
          <th>Insgesamt</th>
          <th>Übrig</th>
          <th>Nachricht</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of backend.content.OutgoingFreebies.results">
          <td>{{f.id}}</td>
          <td>{{f.created_timestamp | date:'medium'}}</td>
          <td>{{f.recipient.username}}</td>
          <td *ngIf="f.total < 1">{{f.cents_worth_total / 100 | currency:'EUR'}}</td>
          <td *ngIf="f.total < 1">{{f.cents_worth_left / 100 | currency:'EUR'}}</td>
          <td *ngIf="f.total >= 1">{{f.total}}</td>
          <td *ngIf="f.total >= 1">{{f.left}}</td>
          <td>{{f.text_message}}</td>

        </tr>
      </tbody>
    </table>

  </div>
</div>