
<div class="grid-container">
    <div class="grid-item">
  
      <button (click)="tabs.goToUserSelection()" class="btn btn-default" style="position:relative; top:20%;">
        <span class="glyphicon glyphicon-chevron-left">
        </span> Zurück zu Übersicht
      </button>
    </div>
    <div class="grid-item" style="grid-column-start: 2;grid-column-end: 7;">
      <div class="tabHeaderTitle">
        Persönliche Statistiken
      </div>
    </div>
    <div class="grid-item" style="grid-column-start: 7;">
      <div class="tabHeaderUsername">
        {{this.backend.detailUsername}}
      </div>
  
    </div>
  </div>
  


<div class="clearfix">
  <div class="col-xs-6">
     CURRENT PERSONAL LOG (NO ACTION POSSIBLE)

     <app-timespan-filter [timespan]="backend.viewstate.personal_log.count_pars"  (onTimespanFilterChange)="timeFilterChange($event)"></app-timespan-filter>

  

     <div *ngFor="let purchase of backend.content.PurchaseLogPersonal.results" class="purchaseLogLine">
      <div *ngIf="purchase.SimplePurchase != null">
        #{{purchase.SimplePurchase.unique_id}} on {{purchase.SimplePurchase.timestamp_epoch_millis | date:'short'}} : {{purchase.SimplePurchase.item.name}}
    </div>
    <div *ngIf="purchase.SpecialPurchase != null">
        #{{purchase.SpecialPurchase.unique_id}} on {{purchase.SpecialPurchase.timestamp_epoch_millis | date:'short'}} : {{purchase.SpecialPurchase.special_name}}
    </div>
    <div *ngIf="purchase.FFAPurchase != null">
        #{{purchase.FFAPurchase.unique_id}} on {{purchase.FFAPurchase.timestamp_epoch_millis | date:'short'}} : FFA-Ausgabe = {{purchase.FFAPurchase.item.name}}
    </div>

  </div>

    <app-paginator [parameters]="backend.content.PurchaseLogPersonal" [pageSizeOverride]="pageSizePersonalLog" (onPageChange)="pageNavigationForPersonalLog($event)"></app-paginator>


  </div>
  <div class="col-xs-6">
     INCOMING (OPEN) FREEBIES (NO ACTION POSSIBLE)
     <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="clearfix">
  <div class="col-xs-6">
     BILLS THIS USER IS PART OF, with Button for Email-Export of each Bill
     <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
     OUTGOING (OPEN) FREEBIES (NO ACTION POSSIBLE)
     <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
