<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <app-userselection *ngIf="tabservice.showUserselection"></app-userselection>
  
  <app-personalstatistics *ngIf="tabservice.showPrivateStatistics"></app-personalstatistics>
  <app-giveout *ngIf="tabservice.showGiveout"></app-giveout>
  <app-full-purchase *ngIf="tabservice.showFullPurchase"></app-full-purchase>
  
  <app-globalstatistics *ngIf="tabservice.showLog"></app-globalstatistics>

  <app-usermanagement *ngIf="tabservice.showUsermanagement"></app-usermanagement>
  <app-itemmanagement *ngIf="tabservice.showItemmanagement"></app-itemmanagement>
  <app-billmanagement *ngIf="tabservice.showBillmanagement"></app-billmanagement>
  <app-administration *ngIf="tabservice.showAdministration"></app-administration>

</div>