<div class="grid-container">
  <div class="grid-item">

    <button (click)="tabs.goToUserSelection()" class="btn btn-secondary" style="position:relative; top:20%;">
      <span class="glyphicon glyphicon-chevron-left">
      </span> Zurück zu Übersicht
    </button>
  </div>
  <div class="grid-item" style="grid-column-start: 2;grid-column-end: 7;">
    <div class="tabHeaderTitle">
      Benutzer-Administration
    </div>
  </div>
  <div class="grid-item" style="grid-column-start: 7;">
    <button class="btn btn-secondary" style="position:relative; top:20%;"
      (click)="tabs.goToAdministrationWithoutPassword()">
      Zurück zu Hauptadministration
    </button>
  </div>
</div>




<div>



  <div class="btn btn-info createButton" (click)="createUser()" *ngIf="detailUser == null">
    <span class="glyphicon glyphicon-plus" style="margin-right: 5px;">
    </span>Neuer Benutzer
  </div>




  <div *ngIf="detailUser == null">
    <form class="navbar-form" role="search">
      <input [matKeyboard]="'de'" class="form-control"
        style="margin:20px;padding:20px;width:80%;text-align: center;margin-left: auto;margin-right: auto;"
        placeholder="Suche nach Benutzer" [formControl]="searchControl">
    </form>

    <div>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>

            <th style="width: 50px;text-align:center;">Id</th>
            <th style="min-width: 80px;text-align:center;">Benutzername</th>
            <th style="width: 220px;text-align:center;">SEWOBE Identifikator</th>
            <th style="width: 70px;text-align:center;">Abrechenbar</th>
            <th style="width: 40px;text-align:center;">Angepinnt</th>
            <th style="width: 40px;text-align:center;">Lastschrift</th>
            <th style="width:20px;text-align:center;"> </th>
            <th style="width:20px;text-align:center;"> </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of backend.content.AllUsers.results">
            <td>{{ user.user_id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.external_user_id }}</td>
            <td>{{ user.is_billed ? 'wahr' : 'falsch' }}</td>
            <td>{{ user.highlight_in_ui ? 'wahr' : 'falsch' }}</td>
            <td>{{ user.is_sepa ? 'wahr' : 'falsch' }}</td>
            <td>
              <a (click)="editUser(user)" class="btn btn-small btn-primary">Ändern</a>
            </td>
            <td>
              <a (click)="deleteUser(user.user_id)" class="btn btn-small btn-danger">Löschen</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <app-paginator [parameters]="backend.content.AllUsers" [pageSizeOverride]="pagesize"
      (onPageChange)="pageNavigation($event)"></app-paginator>


  </div>

  <div *ngIf="detailUser != null" class="container">
    <h3>Detailansicht für Benutzer mit Id {{detailUser.user_id}}</h3>
    <div class="container">
      <div class="form-group">
        <label for="username">Benutzername:</label>
        <input [matKeyboard]="'de'" [(ngModel)]="detailUser.username" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="external_user_id">SEWOBE Identifikationsnummer:</label>
        <input [matKeyboard]="'de'" [(ngModel)]="detailUser.external_user_id" class="form-control"
          id="external_user_id">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" [checked]="detailUser.is_sepa" (change)="detailUser.is_sepa = !detailUser.is_sepa" />
          SEPA Lastschrift Mandat gegeben (wenn nicht angehakt, wird nur eine Rechnung gestellt, aber nichts
          eingezogen)</label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" [checked]="detailUser.is_billed"
            (change)="detailUser.is_billed = !detailUser.is_billed" /> Soll eine Rechnung erhalten</label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" [checked]="detailUser.highlight_in_ui"
            (change)="detailUser.highlight_in_ui = !detailUser.highlight_in_ui" /> in der Benutzerliste anpinnen und
          herausstellen</label>
      </div>
    </div>

    <button (click)="cancelDetail()" class="btn btn-warning">Abbrechen</button>
    <button (click)="saveDetail()" class="btn btn-success">Speichern</button>
  </div>

</div>