<div class="grid-container">
  <div class="grid-item">

    <button (click)="tabs.goToUserSelection()" class="btn btn-default" style="position:relative; top:20%;">
      <span class="glyphicon glyphicon-chevron-left">
      </span> Zurück zu Übersicht
    </button>
  </div>
  <div class="grid-item" style="grid-column-start: 2;grid-column-end: 7;">
    <div class="tabHeaderTitle">
      Ausgeben von Getränken
    </div>
  </div>
  <div class="grid-item" style="grid-column-start: 7;">
    <div class="tabHeaderUsername">
      {{this.backend.detailUsername}}
    </div>

  </div>
</div>






<div>
  select if FFA or specific person budget or specific person count

  <select [(ngModel)]="freebytype">
    <option *ngFor="let fbt of freebytypes | enumPipe" [value]="fbt.key">{{fbt.value}}</option>
  </select>

</div>
<div *ngIf="freebytype!=freebytypes.FFA">
  select person

  <app-single-user-selection (selectionChanged)="selectedUser($event)"></app-single-user-selection>
</div>
<div *ngIf="freebytype!=freebytypes.Budget">
  multi item / multi category selection
  <app-multi-item-selection (selectionChanged)="selectedItemsAndCategories($event)"></app-multi-item-selection>
</div>
<div *ngIf="freebytype==freebytypes.Budget">
  select amount in cents

  <label for="budgetAmount">Budget in Cents:</label>
  <input [(ngModel)]="amountCents" type="number" min="1" max="100000" class="form-control" id="budgetAmount">
</div>
<div *ngIf="freebytype!=freebytypes.Budget">
  select amount in units
  <label for="countAmount">Number of items to donate:</label>
  <input [(ngModel)]="amountUnits" type="number" min="1" max="100000" class="form-control" id="countAmount">
</div>
<div>
  Message Input TextArea
  <input type="textarea" [(ngModel)]="message" placeholder="Message to this donation." />
</div>

<button (click)="finalize()" class="btn btn-primary" [disabled]="processing || !allowed">{{submitBtnText}}</button>