<div class="grid-container">
  <div class="grid-item">

    <button (click)="tabs.goToUserSelection()" class="btn btn-default" style="position:relative; top:20%;">
      <span class="glyphicon glyphicon-chevron-left">
      </span> Zurück zu Übersicht
    </button>
  </div>
  <div class="grid-item" style="grid-column-start: 2;grid-column-end: 7;">
    <div class="tabHeaderTitle">
      Ausgeben von Getränken
    </div>
  </div>
  <div class="grid-item" style="grid-column-start: 7;">
    <div class="tabHeaderUsername">
      {{this.backend.detailUsername}}
    </div>

  </div>
</div>



<div class="clearfix">

  <div class="col-xs-3">


    <div class="form-group">
      <label for="giveOutTypeSel1">Ausgabetyp:</label>
      <select class="form-control" id="giveOutTypeSel1" [(ngModel)]="freebytype">
        <option *ngFor="let fbt of freebytypes | enumPipe" [value]="fbt.key">{{fbt.value}}</option>
      </select>
      <p>
        Willst du allen etwas ausgeben, wähle "FFA". Du kannst auch alternativ einer einzelnen Person etwas ausgeben: Entweder eine
        Anzahl an Freigetränken oder einen Freibetrag.
      </p>
    </div>


  </div>
  <div class="col-xs-4" *ngIf="freebytype!=freebytypes.Budget">

    <div class="form-group">
      <label for="countAmount">Anzahl:</label>

      
      <input [(ngModel)]="amountUnits" name="freebyUnitInput" type="number" min="1" max="1000" class="form-control" id="countAmount">


      <button class="btn btn-primary btn-md" (click)="setInputPlusRounded('countAmount', 'amountUnits', false, 10)">-10</button>
      <button class="btn btn-primary btn-md" (click)="setInputPlusRounded('countAmount', 'amountUnits', false, 1)">-1</button>
      
      <button class="btn btn-primary btn-md" (click)="setInputPlusRounded('countAmount', 'amountUnits', true, 1)">+1</button>
      <button class="btn btn-primary btn-md" (click)="setInputPlusRounded('countAmount', 'amountUnits', true, 10)">+10</button>

    </div>

  </div>
  <div class="col-xs-4" *ngIf="freebytype==freebytypes.Budget">

    <div class="form-group">

      <label for="budgetAmount">Budget in Euro:</label>
      
      <input [(ngModel)]="amountEuro" name="freebyBudgetInput" type="number" min="0.01" max="1000" step="0.05" class="form-control" id="budgetAmount">

      <button class="btn btn-primary btn-md" (click)="setInputPlusRounded('budgetAmount', 'amountEuro', false, 1)">-1€</button>
      <button class="btn btn-primary btn-md" (click)="setInputPlusRounded('budgetAmount', 'amountEuro', false, 0.05)">-5ct</button>

      <button class="btn btn-primary btn-md" (click)="setInputPlusRounded('budgetAmount', 'amountEuro', true, 0.05)">+5ct</button>
      <button class="btn btn-primary btn-md" (click)="setInputPlusRounded('budgetAmount', 'amountEuro', true, 1)">+1€</button>
    </div>
  </div>
  <div class="col-xs-5">

    <div class="form-group">
      <label for="comment">Nachricht:</label>
      <input type="textarea" style="height:100px;" class="form-control" rows="5" id="comment" [(ngModel)]="message" placeholder="Eine Nachricht für den Begünstigten. Gibt es einen Anlass fürs Ausgeben?"

      />
    </div>

  </div>
</div>
<div>
    <div class="col-xs-6" *ngIf="freebytype!=freebytypes.Budget">
      <div class="form-group">
        <app-multi-item-selection (selectionChanged)="selectedItemsAndCategories($event)"></app-multi-item-selection>
      </div>
  
    </div>
  <div class="col-xs-6" *ngIf="freebytype!=freebytypes.FFA">
    <div class="form-group">

      <app-single-user-selection (selectionChanged)="selectedUser($event)"></app-single-user-selection>

      <p>
        Wähle den Begünstigten aus
      </p>
    </div>

  </div>

  <button (click)="finalize()" class="btn btn-primary checkoutButton" [disabled]="processing || !allowed">{{submitBtnText}}</button>
</div>