<div class="grid-container">
  <div class="grid-item">

    <button (click)="tabs.goToUserSelection()" class="btn btn-default" style="position:relative; top:20%;">
      <span class="glyphicon glyphicon-chevron-left">
      </span> Zurück zu Übersicht
    </button>
  </div>
  <div class="grid-item" style="grid-column-start: 2;grid-column-end: 7;">
    <div class="tabHeaderTitle">
      Administration der Abrechnungen
    </div>
  </div>
  <div class="grid-item" style="grid-column-start: 7;">
    <button class="btn btn-default" style="position:relative; top:20%;" (click)="tabs.goToAdministration()">
      Zurück zu Hauptadministration
    </button>
  </div>
</div>




<app-timespan-filter [timespan]="backend.viewstate.bills.count_pars" (onTimespanFilterChange)="timeFilterChange($event)"></app-timespan-filter>
      
  <div>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th style="min-width: 60px;">From</th>
            <th style="min-width: 60px;">To</th>
            <th style="min-width: 80px;">Comment</th>
            <th style="min-width: 20px;">Who?</th>
            <th style="min-width: 20px;">State?</th>
            <th style="width:50px;"> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of backend.content.Bills.results">
            <td>{{ bill.timestamp_from  | date }}</td>
            <td>{{ bill.timestamp_to  | date }}</td>
            <td>{{ bill.comment }}</td>
            <td>{{ bill.users | json }}</td>
            <td>{{ bill.bill_state | json }}</td>
            <td>
              <div *ngIf="bill.bill_state === 'Created'">
                <a (click)="openBillModal(bill)" class="btn btn-small btn-success">finalize</a>
              </div>
              <div *ngIf="bill.bill_state !== 'Created'">
                <a (click)="exportBill(bill)" class="btn btn-small btn-primary">export per mail</a>
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-paginator [parameters]="backend.content.Bills" [pageSizeOverride]="pagesize" (onPageChange)="pageNavigation($event)"></app-paginator>

    <div>
      <h4>Create a new bill (unfinalized)</h4>
      <div>
      <label>earliest date of new bill</label>
        <input type="datetime-local" [ngModel] ="dt1 | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="datify1($event)">
      </div>
      <div>
      <label>latest date of new bill</label>
        <input type="datetime-local" [ngModel] ="dt2 | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="datify2($event)">
      </div>
      <div>
        <label>comment for new bill</label>
        <input [(ngModel)] ="commentField">
      </div>
    <button (click)="createBill()">Create new Bill on this date</button>
  </div>