<p>
  single-user-selection works!
</p>


  <form class="navbar-form" role="search">
    <input class="form-control" style="margin:20px;padding:20px;width:80%;text-align: center;margin-left: auto;margin-right: auto;"
      placeholder="Search for user" [formControl]="searchControl">
  </form>


  <div>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th style="min-width: 20px;">ID</th>
          <th style="min-width: 80px;">Username</th>
          <th style="width:45px;"> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of backend.content.AllUsers.results">
          <td><span *ngIf="selected != null && user.user_id == selected.user_id">=> </span>{{ user.user_id }}</td>
          <td>{{ user.username }}</td>
          <td>
            <a *ngIf="selected == null || user.user_id != selected.user_id" (click)="selectUser(user)" class="btn btn-small btn-warning">select</a>
            <a *ngIf="selected != null && user.user_id == selected.user_id" (click)="selectUser(null)" class="btn btn-small btn-success">unselect</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <app-paginator [parameters]="backend.content.AllUsers" (onPageChange)="pageNavigation($event)"></app-paginator>
