<p>
  globalstatistics works!
</p>

<button (click)="tabs.goToUserSelection()">
  Back to all users
</button>


<app-timespan-filter [timespan]="backend.viewstate.global_log.count_pars" (onTimespanFilterChange)="timeFilterChange($event)"></app-timespan-filter>

<!--*ngIf="backend.content.PurchaseLogGlobal !== null"-->
  <div *ngFor="let purchase of backend.content.PurchaseLogGlobal.results">
    
    #{{purchase.SimplePurchase.unique_id}} on date {{purchase.SimplePurchase.timestamp_epoch_millis | date:'short'}} : {{purchase.SimplePurchase.consumer.username}} bought {{purchase.SimplePurchase.item.name}}
  </div>


  <app-paginator [parameters]="backend.content.PurchaseLogGlobal" (onPageChange)="pageNavigation($event)"></app-paginator>